<?xml version='1.0' encoding='UTF-8'?>

<bag xmlns:boolean="http://www.w3.org/2001/XMLSchema#boolean" xmlns:int="http://www.w3.org/2001/XMLSchema#int" int:version="1">
 <SurveyView int:survey_view_data_type="0" int:survey_view_memory_level="0" int:survey_view_memory_operation_type="0">
  <BottomUpGrid>
   <ColumnStructure DefaultColumnLayout="Default" SmartColumnLayout="Smart Mode"/>
  </BottomUpGrid>
  <RooflineChart rooflineState="{&quot;integratedRooflineType&quot;:0,&quot;threadCount4RoofIdx&quot;:0}"/>
 </SurveyView>
 <FilterView boolean:VectorizedButtonChecked="true" boolean:NotVectorizedButtonChecked="true" boolean:FakeLoopButtonChecked="false" boolean:LibrariesButtonChecked="false" ModuleFilterValue="All Modules" SourceFilterValue="All Sources" LoopModeFilterValue="Loops And Functions" ThreadFilterValue="All Threads"/>
</bag>
